.dashboard{
    font-size: 150%;
    padding: center;
    text-align: center;
    background-color:rgb(194, 158, 110);

    
}
.button{
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 25px;
    background-color: #4CAF50; /* Green */
    border-color: black;
    color: white;
}
